html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0 auto;
}

.nav {
    background-color: #261217;
    color: #CC5EA2;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
    height: 115px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;

}

.nav li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--logo img {
    width: 40%;
}

.nav--right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.nav--left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {

    .nav {
        background-color: #261217;
        color: #CC5EA2;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 115px;
    }
    
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-right: 2%;
        padding-left: 2%;
    }
    
    .nav li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 12pt;
    }
    
    .nav--logo img {
        width: 100%;
    }

    .nav--logo {
        width: 30%;
    }
    
    .nav--right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
    }
    
    .nav--left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
    }

  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {
    .nav {
        background-color: #261217;
        color: #CC5EA2;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 200px;
    }
    
    .nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 2%;
        padding-left: 2%;
    }
    
    .nav li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 12pt;
    }
    
    .nav--logo img {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav--logo {
        width: 80%;
    }
    
    .nav--right {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }
    
    .nav--left {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }
  }

ul {
    list-style: none;
}

li a {
    font-family: roc-grotesk-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
    text-decoration: none;
    color: #CC5EA2;
}

.hero {
    background-color: #261217;
    color: #F1E5E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.hero--container h1 {
    margin-bottom: 0;
}

.hero--copy {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 75px;

}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    
    .hero--container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
    }
    
    .hero--container h1 {
        margin-top: 50px;
    }
    
    .hero--copy {
        display: flex;
        flex-direction: column;
        width: 75%;   
        padding-left: 60px; 
    }
  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    .hero--container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
    }
    
    .hero--container h1 {
        margin-top: 50px;
        font-size: 40pt;
    }
    
    .hero--copy {
        display: flex;
        flex-direction: column;
        width: 100%;   
        padding-left: 15px; 
    }

    .hero--image img { 
        width: 100%;
        padding-left: 19px;
    }
  }

h1 {
    font-family: study, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 56pt;
    line-height: 1.15em;
    margin-top: 0px;
}

p {
    font-family: roc-grotesk-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20pt; 
}


.intro {
    background-color: #CC5EA2;
    color: #261217;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: #261217;
    border-style: solid;
    border-width: 1px;
}

.intro--container {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.intro--headline h2 {
    padding-top: 0;
    margin-top: 15px;
    width: 80%;
}

.intro--copy{
    width: 100%;
}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {
    
    .intro {
        background-color: #CC5EA2;
        color: #261217;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
    }

    .intro--container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .intro--headline h2 {
        padding-top: 0;
        margin-top: 15px;
        margin-bottom: 0;
        width: 85%;
    }

    .intro--copy{
        width: 100%;
    }
  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {
    .intro {
        background-color: #CC5EA2;
        color: #261217;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
    }

    .intro--container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .intro--headline h2 {
        padding-top: 0;
        margin-top: 15px;
        margin-bottom: 0;
        width: 100%;
        font-size: 40px;
    }

    .intro--copy{
        width: 100%;
    }
  }

h2 {
    font-family: study, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48pt;
    margin-top: 0px;
    padding-top: 0px;
}

.process {
    background-color: #F1E5E8;
    color: #261217;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-width: 1px;
}

.process--container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.process h1{
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.process--content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.process--image {
    width: 40%;
}

.process--copy {
    width: 40%;
}

.process--next {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.process--next p{
    margin: 0;
    padding-right: 30px;
    font-weight: 400;;
}

.process--next img{
    margin: 0;
    padding-top: 10px;
    width: 60%;
}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {
    
    .process {
        background-color: #F1E5E8;
        color: #261217;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
    }
    
    .process--container {
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    
  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {
    .process {
        background-color: #F1E5E8;
        color: #261217;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 0px;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
    }
    
    .process--container {
        display: flex;
        flex-direction: column;
        width: 90%;


    .slider {
        position: relative;
        width: 100%;
        height: 600px;
        margin: 50px auto;
        box-shadow: none;
        overflow: hidden;
    }
    
    .slider-controls {
        position: absolute;
        bottom: 0px;
        left: 40px;
        width: 200px;
        text-align: center;
        transform: translatex(-50%);
        z-index: 1000;
        list-style: none;
        text-align: center;
    }
    
    .slider input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider-controls label {
        display: inline-block;
        border: none;
        height: 15px;
        width: 15px;
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #212121;
        transition: background-color 0.2s linear;
    }
    
    #btn-1:checked ~ .slider-controls label[for="btn-1"] {
        background-color: #CC5EA2;
    }
    
    #btn-2:checked ~ .slider-controls label[for="btn-2"] {
        background-color: #CC5EA2;
    }
    
    #btn-3:checked ~ .slider-controls label[for="btn-3"] {
        background-color: #CC5EA2;
    }
    
    /* SLIDES */
    
    .slides {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    
    .slide {
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px;
        margin-top: -50px;
        width: 100%;
        height: 100%;
    
        opacity: 0;
        transform: translatex(-100%);
        transition: transform 250ms linear;
    }
    
    .slide-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0px;
    }
    
    .slide-title {
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    .slide-text {
        margin-bottom: 20px;
    }
    
    .slide-link {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        border-radius: 0px;
        text-decoration: none;
        background-color: #CC5EA2;
    }
    
    .slide-image img {
        max-width: 100%;
    }
    }
  }

h3 {
    font-family: roc-grotesk-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48pt; 
    margin: 0;
    padding: 0;
}

.research {
    background-color: #D3E197;
    color: #261217;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px ;
    border-top: #261217;
    border-style: solid;
    border-width: 1px;
}

.research h1 {
    margin: 0;
    padding-bottom: 100px;
}

.research--container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.research--headline {
    padding-left: 200px;
    padding-top: 00px;
}

.research--images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.research--images img {
    width: 48%;
}

.research--copy {
    padding-left: 200px;
    width: 60%;
    padding-top: 75px;
}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {
    .research {
        background-color: #D3E197;
        color: #261217;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px ;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
    }
    
    .research h1 {
        margin: 0;
        padding-bottom: 50px;
    }
    
    .research--container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .research--headline {
        padding-left: 50px;
        padding-top: 00px;
    }
    
    .research--images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .research--images img {
        width: 48%;
    }
    
    .research--copy {
        padding-left: 50px;
        width: 80%;
        padding-top: 50px;
    }
  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {
    .research {
        background-color: #D3E197;
        color: #261217;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px ;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
    }
    
    .research h1 {
        margin: 0;
        padding-bottom: 50px;
        font-size: 40pt;
    }
    
    .research--container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .research--headline {
        padding-left: 0px;
        padding-top: 00px;
    }
    
    .research--images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .research--images img {
        width: 48%;
    }
    
    .research--copy {
        padding-left: 0px;
        width: 100%;
        padding-top: 25px;
    }
  }

.deliverables {
    background-color: white;
    color: #261217; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #261217;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.deliverables--container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    padding: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    flex-wrap: wrap;
}

.deliverables--container h1 { 
    font-size: 56pt;
}

.deliverables--columnA {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 40%;
}

.deliverables--columnB {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    padding-top: 100px;
}

.deliverables--columnB h1{
    padding-top: 25px;
    padding-bottom: 25px;
}

.deliverables--columnB p{
    padding-top: 50px;
    margin-top: 0;
    width: 90%;
}

.deliverables--image__a {
    width: 100%;
    padding-bottom: 50px;
}

.deliverables--image__b {
    width: 100%;   
}

.deliverables--image__c {
    width: 100%;
}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {

    .deliverables {
        background-color: white;
        color: #261217; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
        width: 100%;
    }
    
    .deliverables--container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        padding: 100px;
        flex-wrap: wrap;
    }
    
    .deliverables--container h1 { 
        font-size: 40pt;
    }
    
    .deliverables--columnA {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 40%;
    }
    
    .deliverables--columnB {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 40%;
        padding-top: 25px;
    }
    
    .deliverables--columnB h1{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .deliverables--columnB p{
        padding-top: 50px;
        margin-top: 0;
        width: 90%;
    }
    
    .deliverables--image__a {
        width: 100%;
        padding-bottom: 50px;
    }
    
    .deliverables--image__b {
        width: 100%;   
    }
    
    .deliverables--image__c {
        width: 100%;
    }
  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {

    .deliverables {
        background-color: white;
        color: #261217; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
        width: 100%;
    }
    
    .deliverables--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 50px;
        padding-top: 75px;
        flex-wrap: wrap;
    }
    
    .deliverables--container h1 { 
        font-size: 40pt;
        margin: 0;
    }
    
    .deliverables--columnA {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 90%;
    }
    
    .deliverables--columnB {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        padding-top: 0px;
    }
    
    .deliverables--columnB h1{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .deliverables--columnB p{
        padding-top: 50px;
        margin-top: 0;
        width: 90%;
    }
    
    .deliverables--image__a {
        width: 100%;
        padding-bottom: 50px;
    }
    
    .deliverables--image__b {
        width: 100%;   
    }
    
    .deliverables--image__c {
        width: 100%;
    }
  }

.summary {
    background-color: #CC5EA2;
    color: #261217;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #261217;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.summary--content {
    padding: 100px;
    padding-top: 115px;
    padding-bottom: 145px;
    width: 50%;
}

@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {

    .summary {
        background-color: #CC5EA2;
        color: #261217;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
        width: 100%;
    }
    
    .summary--content {
        padding: 100px;
        padding-top: 75px;
        padding-bottom: 100px;
        width: 75%;
    }

  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {

    .summary {
        background-color: #CC5EA2;
        color: #261217;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: #261217;
        border-style: solid;
        border-width: 1px;
        width: 100%;
    }
    
    .summary--content {
        padding: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 85%;
    }

  }


button {
    background-color: #261217;
    border-style: none;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    margin-top: 15px;
}

button a {
    color: #D3E197;
    font-family: roc-grotesk-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24pt;
    padding: 0px;
    margin: 0;
    text-decoration: none;
}

button:hover {
    border-style: solid;
    border-width: 1px;
    border-color:#D3E197;
}

button:hover p {
    font-weight: 300;
}

.footer {
    background-color: #261217;
    color: #F1E5E8;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
}

.footer--links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer--links li a{
    padding: 15px;
    color: #F1E5E8;
}


.footer--note li {
    font-family: roc-grotesk-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16pt; 
}

.footer--image img {
    width: 40%;
}

.footer--image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


@media only screen and (min-device-width: 830px) and (max-device-width: 1400px) {
   
    .footer {
        background-color: #261217;
        color: #F1E5E8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin: 0;
    }
    
    .footer ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    
    .footer--links {
        display: flex;
        flex-direction: center;
        justify-content: space-evenly;
    }
    
    .footer--links li {
        padding: 15px;
    }
    
    
    .footer--note li {
        font-family: roc-grotesk-condensed, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16pt; 
    }
    
    .footer--image img {
        width: 40%;
    }
    
    .footer--image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer--image li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

  }

  @media only screen and (min-device-width: 0px) and (max-device-width: 829px) {
   
    .footer {
        background-color: #261217;
        color: #F1E5E8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin: 0;
        text-align: center;
    }
    
    .footer ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    
    .footer--links {
        display: flex;
        flex-direction: center;
        justify-content: space-evenly;
    }
    
    .footer--links li {
        padding: 15px;
        font-size: 12pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .footer--note li {
        font-family: roc-grotesk-condensed, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16pt; 
    }
    
    .footer--image img {
        width: 40%;
    }
    
    .footer--image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer--image li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

  }

.slider {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 50px auto;
    box-shadow: none;
    overflow: hidden;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 25px;
    left: 92%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: #CC5EA2;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #CC5EA2;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #CC5EA2;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: -50px;
    width: 100%;
    height: 100%;
  
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .slide-text {
    margin-bottom: 20px;
  }
  
  .slide-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 0px;
    text-decoration: none;
    background-color: #CC5EA2;
  }
  
  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }
  